@import "./object/index";

.prueba {
  background-color: red;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  animation-duration: 3000ms;
  animation-name: move_eye;
  animation-timing-function: cubic-bezier(.4,-0.05,.29,.85);
}


@-webkit-keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }
        @keyframes move_eye { from { margin-left: -20%; } to { margin-left: 100%; }  }