@import "./object/index";
/* TODO: pendiente eliminar este codigo de prueba para que no se vaya dentro del build */
.prueba {
  @apply --animation-standard;

  background-color: red;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
