:root {
  --mm-animation-standard-small-area: {
    transition: all 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
  };

  /* --mm-animation-standard-small-area-expand: {
    transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  };

  --mm-animation-standard-small-area-collapse: {
    transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }; */
}
